extends ../layout



block content

    a(href="/bicicletas") Volver

    br

    br

    br

    h1 Modificando Bicicleta

    br

    br

    form(action='/bicicletas/'+bici._id+'/update' method="post")

        label(for="bicicletaID") ID:

        input#id(type="text" name="bicicletaID" value=bici.bicicletaID)

        br

        label(for="color") Color:

        input#color(type="text" name="color" value=bici.color)

        br

        label(for="modelo") Modelo:

        input#modelo(type="text" name="modelo" value=bici.modelo)

        br

        label(for="latitud") Latitud:

        input#latitud(type="text" name="latitud" value=bici.ubicacion[0])

        br

        label(for="longitud") Longitud:

        input#longitud(type="text" name="longitud" value=bici.ubicacion[1])

        br

        br
        
        input#_id(type="bidden" name="_id" value=bici._id)
        

        input.btn(type="submit" value="OK")
